<section class="content-header">
  <div class="card card-body">
    <div class="row">
      <div class="col-sm-8">
        <h1>
          {{header}}
          <small *ngIf="subHeader">{{subHeader}}</small>
        </h1>
      </div>

      <div class="col-sm-4 text-lg-right">

        <ol class="breadcrumb">
          <li class="" *ngFor="let navItem of breadCrumbs">
            <a
              [routerLink]="navItem.routeItems"
              *ngIf="navItem.routeItems.length > 0"
              class="breadcrumb-list-item"
            >{{ navItem.linkText | uppercase}}</a>

            <span *ngIf="navItem.routeItems.length === 0">&nbsp;{{navItem.linkText | uppercase}}</span>
          </li>
        </ol>

      </div>
    </div>
  </div>
</section>
