<app-main-header [header]="'User Settings'" [breadCrumbs]="breadCrumbs"></app-main-header>

<div class="row">
  <div class="col-12 small-col">
    <div class="card">
      <div class="card-body">

        <form class="form-horizontal" [formGroup]="userEditForm" (ngSubmit)="submitEdit()">
          <div class="mb-3">
            <img
              [src]="avatarImageLink"
              class="img-thumbnail avatar-preview mb-2"
              (click)="fileInput.click()"
              *ngIf="avatarImageLink" [alt]="userDetails.name"
            >
            <br/>
            <input hidden (change)="imageInputChange($event.target)" #fileInput type="file" id="file">
            <button type="button" (click)="fileInput.click()" class="btn btn-primary" hidden>Choose Image</button>
            <span class="text-sm text-muted">Click to change</span>
          </div>

          <div class="mb-3">
            <label for="inputName" class="form-label">Name</label>
            <input type="email" class="form-control" id="inputName" placeholder="Name" formControlName="name">
          </div>

          <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email" formControlName="email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>

          <button type="submit" class="btn btn-success" [disabled]="userEditForm.invalid">
            <span class="fa fa-save"></span> Submit
          </button>

        </form>

        <hr/>

        <form class="mb-3" [formGroup]="changePasswordForm" (ngSubmit)="submitChangePassword()">

          <h3>Change Password</h3>

          <div class="mb-3">
            <label for="current_password" class="form-label">Current Password</label>
            <input type="password" class="form-control" id="current_password" placeholder="Current Password" formControlName="current_password">
          </div>

          <div class="mb-3">
            <label for="new_password" class="form-label">New Password</label>
            <input type="password" class="form-control" id="new_password" placeholder="New Password" formControlName="new_password">
          </div>

          <div class="mb-3">
            <label for="new_password_repeat" class="form-label">Retype Password</label>
            <input type="password" class="form-control" id="new_password_repeat" placeholder="Password Confirm" formControlName="new_password_repeat">
          </div>

          <button type="submit" class="btn btn-success" [disabled]="changePasswordForm.invalid">
            <span class="fa fa-save"></span> Submit
          </button>

        </form>

        <button class="btn btn-primary" (click)="refreshUserDetails()">Refresh user details</button>
        <br/>
        <div id="refreshHelp" class="form-text">This will update stored user details.</div>

      </div>
    </div>
  </div>
</div>

