<div class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a [routerLink]="['/']">{{appName}}</a>
    </div>
    <!-- /.login-logo -->
    <div class="card" *ngIf="!confirmingCode">
      <div class="card-body login-card-body">
        <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p>

        <form [formGroup]="newPasswordForm" (ngSubmit)="submitForgotPasswordConfirm()" >

          <div class="input-group mb-3">
            <label for="password" class="sr-only">Password</label>
            <input type="password" class="form-control" placeholder="Password" id="password" formControlName="password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>

          <div class="input-group mb-3">
            <label for="password_confirm" class="sr-only">Password Confirm</label>
            <input type="password" class="form-control" placeholder="Confirm Password" id="password_confirm" formControlName="password_confirmation">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">Change password</button>
            </div>
            <!-- /.col -->
          </div>

        </form>

        <p class="mt-3 mb-1">
          <a [routerLink]="['/login']">Login</a>
        </p>
      </div>

    </div>
  </div>

</div>
