.nav-item-bottom {
  padding: 0;
  margin: 0;
  list-style: none;
  border-radius: 0;
  display: inline-block;
  bottom: 0;
  position: fixed;
}

.workspace-list {
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 200px;
  height: 100vh;
  max-height: 600px;
}

@media screen and (max-height: 667px) {
  .workspace-list {
    max-height: 200px;
  }

  //.nav-item-bottom {
  //  display: none;
  //}
}
