<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" style="">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">

      <li class="nav-item">
        <a class="nav-link" aria-current="page" [routerLink]="['/dashboard']" [routerLinkActive]="'active'">
          <span class="fa fa-home"></span>
          Dashboard
        </a>
      </li>

      <li class="nav-item">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#tasks-collapse" aria-expanded="false">
          Boards
        </button>
        <div class="collapse" id="tasks-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

            <li class="nav-item">
              <a class="nav-link" aria-current="page" [routerLink]="['/boards']" [routerLinkActive]="'active'">
                All Boards
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" aria-current="page" [routerLink]="['/boards', 'my-boards']" [routerLinkActive]="'active'">
                My Boards
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" aria-current="page" [routerLink]="['/boards', 'create']" [routerLinkActive]="'active'">
                New Board
              </a>
            </li>

          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/workspaces']" [routerLinkActive]="'active'">
          <span class="fa fa-chart-area"></span>
          Workspaces
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/settings']" [routerLinkActive]="'active'">
          <span class="fa fa-cog"></span>
          Settings
        </a>
      </li>

    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Workspaces</span>
      <a class="link-secondary" (click)="loadWorkspaces()" aria-label="Add a new report">
        <span class="fa fa-redo"></span>
      </a>
      <a class="link-secondary" [routerLink]="['/workspaces', 'create']" aria-label="Create a new workspace">
        <span class="fa fa-plus"></span>
      </a>
    </h6>
    <ul class="nav flex-column flex-nowrap mb-2 workspace-list" style="">

      <li class="nav-item" *ngFor="let workspace of workspaces">
        <a class="nav-link" (click)="selectWorkspace(workspace)" style="cursor:pointer;">
          <span class="fa fa-briefcase"></span>
          {{workspace.name}}
          <span *ngIf="workspace.uuid === activeWorkspace?.uuid">
            <span class="fa fa-check"></span>
          </span>
        </a>
      </li>

    </ul>

    <ul>
      <li class="nav-item nav-item-bottom">
        <a class="nav-link bg-danger" [routerLink]="['/user', 'logout']">
          <span class="fa fa-sign-out-alt"></span>
          Log Out
        </a>
      </li>
    </ul>

  </div>
</nav>
