<div class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <b>{{appName}}</b>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordSubmit()">
          <div class="input-group mb-3">
            <label for="email" class="sr-only">Email</label>
            <input type="email" class="form-control" placeholder="Email" formControlName="email" id="email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="forgotPasswordForm.invalid">Request new password</button>
            </div>
          </div>
        </form>

        <p class="mt-3 mb-1">
          <a [routerLink]="['/login']">Back To Login</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>

</div>
