<app-main-header [header]="activeBoard.name" [subHeader]="activeBoard.description" [breadCrumbs]="breadCrumbs"
                 *ngIf="!loadingBoardDetails"></app-main-header>

<div class="row mb-4">
  <div class="col-12 text-end">
    <a
      (click)="boardSettingsClick()"
      class="btn btn-secondary btn-sm btn-mr"
      data-bs-toggle="modal"
      data-bs-target="#boardSettingsModal"
    >
      <span class="fa fa-cog"></span> Board Settings
    </a>
    <a
      (click)="addNewListClick()"
      class="btn btn-primary btn-sm"
      data-bs-toggle="modal"
      data-bs-target="#newBoardListModal"
    >
      <span class="fa fa-list"></span> Add List
    </a>
  </div>
</div>

<div class="row">
  <div class="col task-list-col" *ngFor="let taskList of boardLists; let i = index">

    <div class="task-list-inner-col">

      <p class="ms-1" (click)="updateBoardListNameClick(i)" *ngIf="boardListEditIndex !== i">
        <b>{{taskList.name}}</b>
      </p>

      <input
        type="text"
        class="form-control"
        *ngIf="boardListEditIndex === i"
        [(ngModel)]="taskList.name"
        (keyup.enter)="updateBoardListName(i)"
        (blur)="updateBoardListName(i)"
        (focusout)="updateBoardListName(i)"
      />

      <div
        [sortablejs]="taskList.tasks"
        [sortablejsOptions]="options" style="min-height: 10px;"
        [attr.data-uuid]="taskList.uuid"
        [attr.data-index]="i"
        [attr.data-name]="taskList.name"
      >
        <div *ngFor="let task of taskList.tasks" [attr.data-task-uuid]="task.uuid">
          <div class="card mb-1 task-card">
            <div class="card-body">
              <span class="grab-handle fa fa-grip-lines"></span>
              &nbsp;
              <a
                (click)="loadTaskDetails(task.uuid)"
                data-bs-toggle="modal"
                data-bs-target="#taskDetailsModal"
                class=""
              >{{task.name}}</a>
            </div>
          </div>
        </div>
      </div>

      <a href="#" (click)="addTaskClick(taskList.uuid)" data-bs-toggle="modal" data-bs-target="#newTaskModal">
        + Add New Task</a>
    </div>
  </div>
</div>

<!-- Add Task Modal -->
<div class="modal fade" id="newTaskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newTaskModalLabel">New Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <spinner [show]="loadingNewTaskForm"></spinner>
        <form [formGroup]="newTaskForm" (ngSubmit)="submitNewTask()" *ngIf="!loadingNewTaskForm">
          <div class="mb-3">
            <label for="taskName" class="form-label">Title</label>
            <input type="text" class="form-control" id="taskName" aria-describedby="taskName" formControlName="name">
            <div id="taskHelp" class="form-text">Give the task a name</div>
          </div>
          <div class="mb-3">
            <label for="taskDescription" class="form-label">Task Description</label>
            <textarea class="form-control" id="taskDescription" style="resize: vertical;"
                      formControlName="description"></textarea>
          </div>
          <div class="mb-3">
            <label for="taskAssignedUser" class="form-label">Assigned</label>
            <select class="form-control" id="taskAssignedUser" formControlName="assigned_to">
              <option>Current User</option>
              <option *ngFor="let member of workspaceMembers" [value]="member.user.uuid">{{member.user.name}}</option>
            </select>
          </div>

          <button type="submit" class="btn btn-success" [disabled]="savingNewTask">
            <spinner [show]="savingNewTask"></spinner>
            Save
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closeNewTaskModalBtn>Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End Add Task Modal -->

<!-- Add board list modal -->
<div class="modal fade" id="newBoardListModal" tabindex="-1" aria-labelledby="newBoardListModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newBoardListModalLabel">New List</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <spinner [show]="loadingNewListForm"></spinner>
        <form [formGroup]="newListForm" (ngSubmit)="newListSubmit()" *ngIf="!loadingNewListForm">
          <div class="mb-3">
            <label for="boardListName" class="form-label">Board List Name</label>
            <input type="text" class="form-control" id="boardListName" aria-describedby="boardName"
                   formControlName="name">
            <div id="boardListNameHelp" class="form-text">Name of the board list</div>
          </div>

          <button type="submit" class="btn btn-success" [disabled]="savingNewList">
            <spinner [show]="savingNewList"></spinner>
            Save
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closeNewTaskListBtn>
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End Add board list modal -->

<!-- Task details modal -->
<div class="modal fade" id="taskDetailsModal" tabindex="-1" aria-labelledby="tasksDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tasksDetailsModalLabel">Task Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Task Details
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closeTaskDetailsModal>
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End task details modal -->

<!-- Board Settings Modal -->
<div
  class="modal fade"
  id="boardSettingsModal"
  tabindex="-1"
  aria-labelledby="boardSettingsModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="boardSettingsModalLabel">Board Settings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-general-settings-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-general-board-settings" type="button" role="tab"
                    aria-controls="nav-general-board-settings" aria-selected="true">General
            </button>
            <button class="nav-link" id="nav-board-lists-tab" data-bs-toggle="tab" data-bs-target="#nav-board-lists"
                    type="button" role="tab" aria-controls="nav-board-lists" aria-selected="false">Lists
            </button>
          </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">

          <div class="tab-pane fade show active" id="nav-general-board-settings" role="tabpanel"
               aria-labelledby="nav-general-settings-tab">

            <p></p>
            <spinner [show]="loadingBoardSettingsForm"></spinner>
            <app-board-form
              [board]="activeBoard"
              (boardUpdated)="handleBoardUpdated($event)"
              *ngIf="!loadingBoardSettingsForm"
            ></app-board-form>

          </div>

          <div class="tab-pane fade" id="nav-board-lists" role="tabpanel" aria-labelledby="nav-board-lists-tab">
            <spinner [show]="loadingBoardListsAndTasks"></spinner>

            <div
              [sortablejs]="boardLists"
              [sortablejsOptions]="boardListsReorderOptions" style="min-height: 10px;"
            >
              <div *ngFor="let boardList of boardLists">
                <div class="border border-1 p-1 ps-2 pe-2">
                  <div class="row">
                    <div class="col-sm-10">
                      {{boardList.name}}
                    </div>
                    <div class="col-sm-2">
                      <button
                        class="btn btn-sm btn-danger"
                        [swal]="{ title: 'Are you sure?', text: 'All tasks inside this list will also be deleted!', showCancelButton: true }"
                        (confirm)="deleteBoardList(boardList)"
                      >
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closeBoardSettingsModalBtn>
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End Board Settings Modal -->
