<app-main-header [header]="'Tasks'" [breadCrumbs]="breadCrumbs"></app-main-header>

<div class="row mb-4">
  <div class="col-12 text-end">
    <a (click)="addNewListClick()" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#newBoardListModal">
      + Add List
    </a>
  </div>
</div>

<div class="row">
  <div class="col task-list-col" *ngFor="let taskList of boardLists">

    <div class="task-list-inner-col">

      <p><b>{{taskList.name}}</b></p>
      <div [sortablejs]="taskList.tasks" [sortablejsOptions]="options" style="min-height: 10px;">
        <div *ngFor="let task of taskList.tasks">
          <div class="card mb-1 task-card">
            <div class="card-body">
              <span class="grab-handle fa fa-grip-lines"></span>
              {{task.name}}
            </div>
          </div>
        </div>
      </div>

      <a href="#" (click)="addTaskClick(taskList.uuid)" data-bs-toggle="modal" data-bs-target="#newTaskModal">
        + Add New Task</a>
    </div>
  </div>
</div>

<!-- Add Task Modal -->
<div class="modal fade" id="newTaskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newTaskModalLabel">New Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <spinner [show]="loadingNewTaskForm"></spinner>
        <form [formGroup]="newTaskForm" (ngSubmit)="submitNewTask()" *ngIf="!loadingNewTaskForm">
          <div class="mb-3">
            <label for="taskName" class="form-label">Title</label>
            <input type="text" class="form-control" id="taskName" aria-describedby="taskName" formControlName="name">
            <div id="taskHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="taskDescription" class="form-label">Task Description</label>
            <textarea class="form-control" id="taskDescription" style="resize: vertical;" formControlName="description"></textarea>
          </div>
          <div class="mb-3">
            <label for="taskAssignedUser" class="form-label">Assigned</label>
            <select class="form-control" id="taskAssignedUser" formControlName="assigned_to">
              <option>Current User</option>
              <option *ngFor="let member of workspaceMembers" [value]="member.uuid">{{member.name}}</option>
            </select>
          </div>

          <button type="submit" class="btn btn-success" [disabled]="savingNewTask">
            <spinner [show]="savingNewTask"></spinner> Save
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closeNewTaskModalBtn>Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End Add Task Modal -->

<!-- Add board list modal -->
<div class="modal fade" id="newBoardListModal" tabindex="-1" aria-labelledby="newBoardListModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newBoardListModalLabel">New Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        New board list Modal
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closeNewTaskListModalBtn>
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End Add board list modal -->
