<app-main-header [header]="'Tasks'" [breadCrumbs]="breadCrumbs"></app-main-header>

<div class="row tasks-list-container">
  <div class="col-md-3 task-list">

    <h4 class="h4">Triage</h4>

    <div class="items1 border p-1 " [sortablejs]="items1" [sortablejsOptions]="options">
      <div *ngFor="let item of items1">
        <div class="card mb-2">

          <div class="card-body">
            {{ item }}
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-3 task-list">

    <h4 class="h4">TODO</h4>

    <div class="items2 border p-1" [sortablejs]="items2" [sortablejsOptions]="options">
      <div *ngFor="let item of items2">
        <div class="card mb-2">

          <div class="card-body">
            {{ item }}
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-3"></div>
  <div class="col-md-3"></div>
</div>


<!--<h3>list 1</h3>-->

<!--<h3>list 2</h3>-->

