
<!-- Profile Image -->
<div class="card card-primary card-outline">
  <div class="card-body box-profile">
    <div class="text-center">
      <img class="profile-user-img img-fluid img-circle"
           src="{{avatarUrl}}"
           alt="User profile picture">
    </div>

    <h3 class="profile-username text-center">{{userDetails.name}}</h3>

    <!-- TODO user will have rolls, They could go here? -->
<!--    <p class="text-muted text-center">Software Engineer</p>-->

    <p class="text-muted text-center">{{userDetails.created_at}}</p>

  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->

<!--&lt;!&ndash; About Me Box &ndash;&gt;-->
<!--<div class="card card-primary">-->
<!--  <div class="card-header">-->
<!--    <h3 class="card-title">About Me</h3>-->
<!--  </div>-->
<!--  &lt;!&ndash; /.card-header &ndash;&gt;-->
<!--  <div class="card-body">-->
<!--    <strong><i class="fas fa-book mr-1"></i> Education</strong>-->

<!--    <p class="text-muted">-->
<!--      B.S. in Computer Science from the University of Tennessee at Knoxville-->
<!--    </p>-->

<!--    <hr>-->

<!--    <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>-->

<!--    <p class="text-muted">Malibu, California</p>-->

<!--    <hr>-->

<!--    <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>-->

<!--    <p class="text-muted">-->
<!--      <span class="tag tag-danger">UI Design</span>-->
<!--      <span class="tag tag-success">Coding</span>-->
<!--      <span class="tag tag-info">Javascript</span>-->
<!--      <span class="tag tag-warning">PHP</span>-->
<!--      <span class="tag tag-primary">Node.js</span>-->
<!--    </p>-->

<!--    <hr>-->

<!--    <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>-->

<!--    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>-->
<!--  </div>-->
<!--  &lt;!&ndash; /.card-body &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; /.card &ndash;&gt;-->
