/* You can add global styles to this file, and also import other style files */
@import "~bootstrap";
@import "src/assets/scss/login-page";
@import "src/assets/scss/sidebar";
@import "src/assets/scss/navbar";

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-stretch;
  min-height: stretch;
  overflow-x: hidden;
}

html {
  height: 100vh;
  height: -webkit-strech;
}



