<app-main-header [header]="'Account Settings'" [breadCrumbs]="breadCrumbs"></app-main-header>

<div class="row">
  <div class="col-12 small-col">
    <div class="card">

      <div class="card-body">

        <spinner [show]="loadingForm"></spinner>
        <form [formGroup]="accountSettingsForm" *ngIf="!loadingForm" (ngSubmit)="saveAccountSettings()">

          <div class="mb-2">
            <img
              [src]="avatarImageLink"
              class="img-thumbnail avatar-preview mb-2"
              (click)="fileInput.click()"
              *ngIf="avatarImageLink"
              [alt]="loggedInUser?.name"
            >
            <br/>
            <input hidden (change)="imageInputChange($event.target)" #fileInput type="file" id="file">
            <button type="button" (click)="fileInput.click()" class="btn btn-primary" hidden>Choose Image</button>
            <span class="text-sm text-muted">Click to change</span>
          </div>

          <div class="row form-group">
            <div class="col-sm-4">
              <label for="account_name">Account Name</label>
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" formControlName="name" id="account_name">
            </div>
            <div class="col-sm-4">
              <span class="text-muted">Name of the account</span>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-4">
              <label for="account_email">Account Email</label>
            </div>
            <div class="col-sm-4">
              <input type="email" class="form-control" formControlName="account_email" id="account_email">
            </div>
            <div class="col-sm-4">
              <span class="text-muted">Main email address of account</span>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-4">
              <label for="account_address">Address</label>
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" formControlName="account_address" id="account_address">
            </div>
            <div class="col-sm-4">
              <span class="text-muted">Business address</span>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-4">
              <label for="account_postcode">Postcode</label>
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" formControlName="account_postcode" id="account_postcode">
            </div>
            <div class="col-sm-4">
              <span class="text-muted">Business postcode</span>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-4">
              <label for="account_phone_number">Phone Number</label>
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" formControlName="account_phone_number" id="account_phone_number">
            </div>
            <div class="col-sm-4">
              <span class="text-muted">Business Phone Number</span>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-4">
              <label for="website">Website URL</label>
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" formControlName="website_address" id="website">
            </div>
            <div class="col-sm-4">
              <span class="text-muted">The URL to your website</span>
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-success">
              <span class="fa fa-save"></span>&nbsp;Save
            </button>
          </div>

        </form>
      </div>
    </div>

  </div>
</div>
